@import url( '../../bower_components/bootstrap/less/bootstrap.less' );
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);

/*********************************
    GENERAL STYLES
*********************************/
html, body                                  { margin: 0; font-size: 14px; font-weight: 300; line-height: 1.6em; font-family: "Open Sans"; color: #595959; }
img                                         { max-width: 100%; }
.btn                                        { padding: 10px; border: none; border-radius: 0; }
.btn-default                                { background-color: #9b9b9b; color: #fff; font-size: 12px; font-weight: 600; text-transform: uppercase; }
#datasets-container                         { display : -webkit-box; display : -webkit-flex; display : -ms-flexbox; display :flex; }

/*********************************
    FONT STYLES
*********************************/
h1                                          { font-size: 24px; font-weight: 700; color: #595959; }
a, a:active, a:hover, a:focus               { outline: 0; border: none; text-decoration: none; }
a:hover                                     { text-decoration: none; }
.label                                      { font-size: 12px; font-weight: 700; color: #fff; text-transform: uppercase; border-radius: 0; }
.label[data-format="csv"]                   { background-color: #ffd100; }
.label[data-format="klm"]                   { background-color: #474747; }

/*********************************
    FORM STYLES
*********************************/
.form-control                               { border-radius: 0; border: none; color: #a1a1a1; }

/*********************************
    TABS STYLES
*********************************/
.nav-tabs                                   { border: none; }
.nav-tabs > li                              { margin-bottom: 0; border-bottom: 5px solid #474747; }
.nav-tabs > li.active,
.nav-tabs > li:hover                        { border-bottom-color: #00d2a9; }
.nav-tabs > li > a                          { font-size: 14px; font-weight: 700; color: #595959; border: none; border-radius: 0; }
.nav-tabs > li:hover > a,
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus             { color: #00d2a9; border: none; background-color: transparent; }

/*********************************
    TABLES STYLES
*********************************/
table                                       { width: 100%; }
table > thead > tr > th                     { font-size: 11px; font-weight: 700; color: #595959; }
table > thead > tr > th > .glyphicon        { color: #d8d8d8; margin-right: 5px; position: relative; top: 2px; }
table.data                                  { margin-top: -10px; border-spacing: 0 20px; border-collapse: separate; }
table.data > tbody > tr > td                { padding: 10px 15px; background-color: #eee; font-size: 11px; font-weight: 300; color: #595959; }
table.data > tbody > tr > td.ic-dataset     { background-color: #d7d7d7; text-align: center; vertical-align: bottom; }
table.data > tbody > tr > td.ic-dataset img { width: 20px; }

/*********************************
    HEADER STYLES
*********************************/
header                                      { padding-top: 20px; }

/*********************************
    SUBSCRIBE SECTION STYLES
*********************************/
#subscribe                                  { padding: 30px 0; background-color: #eee; }
#subscribe p                                { margin-bottom: 0; line-height: 37.15px; }
#subscribe a                                { color: #595959; font-weight: 700; }
#subscribe .form                            { overflow: hidden; }
#subscribe .form > .form-group              { width: 80%; margin-bottom: 0; float: left; }
#subscribe .form > .form-group > input      { height: 37.15px; font-size: 14px; font-weight: 300; color: #ababab; border-radius: 0; border: none; }
#subscribe .form > button                   { float: left; width: 20%; }

/*********************************
    SEARCH SECTION STYLES
*********************************/
.search-form .form-group                    { position: relative; }
.search-form .form-group .glyphicon         { cursor: pointer; position: absolute; right: 10px; top: 10px; }
#search-header                              { padding-top: 30px; padding-bottom: 30px; background-color: #eee; }
#search-header h1                           { margin-top: 0; margin-bottom: 20px; }
#search-header p                            { margin-bottom: 0; }
#datasets-container                         { position: relative; overflow: hidden; }
#datasets-content                           { padding: 30px; }
#datasets-content table > tbody > tr        { cursor: pointer; }
#datasets-sidebar                           { padding-top: 20px; padding-bottom: 20px; background-color: #474747; }
#datasets-sidebar > h3,
#datasets-sidebar > h4                      { margin-top: 0; margin-bottom: 10px; font-size: 13px; text-transform: uppercase; color: #7c7c7c; }
#datasets-sidebar > h3                      { font-weight: 700; }
#datasets-sidebar > h4                      { margin-bottom: 30px; font-weight: 400; }
#datasets-sidebar ul                        { margin-bottom: 30px; list-style: none; padding-left: 0; }
#datasets-sidebar ul > li                   { line-height: 30px; height: 30px; }
#datasets-sidebar ul > li.icon-item         { margin: 15px 0; padding-left: 50px; background-size: contain; background-repeat: no-repeat; }
#datasets-sidebar ul > li > a               { font-size: 13px; font-weight: 400; color: #7c7c7c; }
#datasets-sidebar ul > li.active > a,
#datasets-sidebar ul > li:hover > a         { color: #00d2a9; }
#datasets-sidebar ul > li.filter-all            { background-image: url(../img/ic-all.png); }
#datasets-sidebar ul > li.filter-health         { background-image: url(../img/ic-health.png); }
#datasets-sidebar ul > li.filter-geography      { background-image: url(../img/ic-geography.png); }
#datasets-sidebar ul > li.filter-security       { background-image: url(../img/ic-security.png); }
#datasets-sidebar ul > li.filter-environment    { background-image: url(../img/ic-environment.png); }
#datasets-sidebar ul > li.filter-education      { background-image: url(../img/ic-education.png); }
#datasets-sidebar ul > li.filter-economy        { background-image: url(../img/ic-economy.png); }
#datasets-sidebar ul > li.filter-culture        { background-image: url(../img/ic-culture.png); }
#datasets-sidebar ul > li.filter-tourism        { background-image: url(../img/ic-tourism.png); }
#datasets-sidebar ul > li.filter-other          { background-image: url(../img/ic-other.png); }

/*********************************
    DATASETS SECTION STYLES
*********************************/
.dataset-details                            { padding-bottom: 50px; }
.dataset-details .organization-image        { height: 170px; margin-bottom: 30px; padding: 15px; background-color: #eee; }
.dataset-details .organization-image > img  { vertical-align: middle; }
.dataset-details h1                         { margin-bottom: 30px; }
.dataset-details h4                         { margin: 20px 0; font-size: 14px; font-weight: 700; color: #474747; }
.dataset-details h5                         { margin: 30px 0; text-transform: uppercase; }
.dataset-details ul                         { padding-left: 0; list-style: none; overflow: hidden; }
.dataset-details .dataset-resources > li    { background-color: #eee; margin-bottom: 30px; padding: 20px; position: relative; }
.dataset-details .dataset-resources li a    { display: block; font-size: 14px; font-weight: 600; color: #474747; overflow: hidden; }
.dataset-details .dataset-resources span    { padding: 20px; background-color: #d8d8d8; position: absolute; right: 0; top: 0; bottom: 0; }
.dataset-details .dataset-tags > li         { margin-right: 10px; margin-bottom: 10px; padding: 5px 10px; float: left; background-color: #0c9; color: #fff; }
.dataset-details .table > tbody > tr > td   { font-size: 12px; }

/*********************************
    ORGANIZATIONS STYLES
*********************************/
.organization-item,
.group-item                                 { height: 195px; margin-bottom: 20px; background-color: #eee; text-align: center; }
.group-item img                             { margin-bottom: 10px; padding-top: 10px; max-height: 65%;  }