<div id="search-header" class="container-fluid">
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <h1>Grupos</h1>
            <p>{{ group.package_count }} resultados</p>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <form class="form search-form">
                <div class="form-group">
                    <input type="text" name="keyword" id="filter-keyword" class="form-control" placeholder="Buscar" ng-model="filter.title">
                    <span class="glyphicon glyphicon-remove" ng-click="clear()"></span>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container-fluid organization-details">
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
            <div class="organization-image">
                <img ng-src="{{ group.image_display_url }}" alt="{{ group.display_name }}">
            </div>
            <h3>{{ group.display_name }}</h3>
            <p>{{ group.description }}</p>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
            <table class="data">
                <thead>
                    <tr>
                        <th><span class="glyphicon glyphicon-chevron-down"></span>Nombre</th>
                        <th width="20%"><span class="glyphicon glyphicon-chevron-down"></span>Dependencia</th>
                        <th width="15%"><span class="glyphicon glyphicon-chevron-down"></span>Fecha</th>
                        <th width="10%"><span class="glyphicon glyphicon-chevron-down"></span>Formato</th>
                        <th width="10%"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="dataset in group.packages | filter:filter" ng-click="selectDataset( dataset.name )">
                        <td>{{ dataset.title }}</td>
                        <td>{{ dataset.organization.title }}</td>
                        <td>{{ dataset.metadata_modified | date : 'dd/MMM/yyyy' }}</td>
                        <td><span class="label" data-format="csv">CSV</span><span class="label" data-format="klm">KLM</span></td>
                        <td class="ic-dataset"><img src="img/ic-dataset.png"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>