<div class="page-sidebar">
  <ul class="page-filters links" role="presentation" aria-hidden="true">
    <li class="page-filters-title">Filtros</li>
    <li ng-show="gov_federal"><a href="" ng-click="filter( $event, 'federal' )">Federal<span ng-show="numbers"> ({{ gov_federal }})</span></a></li>
    <li ng-show="gov_state"><a href="" ng-click="filter( $event, 'estatal' )">Estatal<span ng-show="numbers"> ({{ gov_state }})</span></a></li>
    <li ng-show="gov_municipal"><a href="" ng-click="filter( $event, 'municipal' )">Municipal<span ng-show="numbers"> ({{ gov_municipal }})</span></a></li>
    <li ng-show="gov_autonomous"><a href="" ng-click="filter( $event, 'autonomos' )">Organismos Autónomos<span ng-show="numbers"> ({{ gov_autonomous }})</span></a></li>
  </ul>
</div>